%section.section
  .container
    .card
      .card-header
        %nav.mb-1.navbar.navbar-expand-lg.navbar-dark.bg-light
          %a.navbar-brand
            %p
              Actions
          .collapse.navbar-collapse#navbarSupportedContent-333
            %ul.navbar-nav.ml-auto.nav-flex-icons
              %li.nav-item
                = link_to 'Edit', edit_post_path(@post), class: 'nav-button btn btn-primary', role: 'button'
              %li.nav-item
                = link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: 'nav-button btn btn-danger', role: 'button'
      .card-body
        = @post.content
%br/

%section.section
  .container
    %h2
      %strong 
        = @post.comments.count 
        Comments
    = render @post.comments 
    .comment-form
      %hr/
      %h3.subtitle Leave a reply
      = render 'comments/form'
